@charset "utf-8";

/* 共通スタイル部分 */

body {
  font-family: "Lato";
}

a {
  text-decoration: none;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.wrapper {
  width: 100%;
  background-color: #f2f2f2;
}

.is-raleway {
  font-family: "Raleway";
}

img {
  vertical-align: bottom;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* header class="header clearfix"部分 */

.header {
  position: fixed;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  padding: 15px 0;
}

.header__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.fa-bolt {
  font-size: 40px;
  color:#4e4e4e ;
}

.header__button {
  padding: 14px 12px;
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  transition: 0.3s;
  display: inline-block;
}

.header__button:hover {
  color: #333;
}

/* section class="boltTheme部分 */

.main {
  padding-top: 70px;
}

.boltTheme {
  background-color: #f2f2f2;
  text-align: center;
  padding: 250px 0;
}

.main__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.sub__title {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.WhatWeCanDo {
  background-color: #74cfae;
  display: flex;
  padding-top: 50px;
}

.WhatWeCanDo__img {
  display: inline-block;
}

.WhatWeCanDo__text {
  color: #fff;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin: 20px 0px 0px 100px;
  font-size: 24px;
}

.sub__text {
  width: 650px;
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  line-height: 1.7;
}

/* article class="olw部分 */

.olw {
  padding: 60px 0px;
}

.olw__title {
  font-size: 24px;
  text-align: center;
  color: #4e4e4e;
}

.img__box {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 40px;
}

.img__box li {
  color: #fff;
  opacity: 0.7;
  margin-left: 100px;
  transition: 0.3s;
  margin-top: 80px;
}

.img__box li:hover {
  opacity: 1;
}

.img__box li:nth-child(3n+1) {
  margin-left: 0;
}

.img__box li:nth-child(-n+3) {
  margin-top: 0;
}

.img__box li a {
  display: block;
}

  /* width: 20px;
  marginは要素との幅を取る
  paddingは自分の領域  */

.olw__e-mail {
  text-align: center;
}

.olw__button__link {
  display: inline-block;
  padding: 14px 20px;
  background-color: #74cfae;
  margin-left: 90px;
  color: #fff;
  transition: 0.3s;
  font-size: 12px;
}

.olw__button__link:hover {
  color: #333;
}

.olw__e-mail {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.olw__content {
  line-height: 1.5;
}

.olw__content__text {
  width: 465px;
  color: #4e4e4e;
}

/*section class="ourSkills部分*/

.ourSkills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.ourSkills__title {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.ourSkills__contents {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.ourSkills__img {
  display: flex;
  justify-content: center;
}

.ourSkills figure {
  margin-left: 180px;
}

.ourSkills figure:first-child {
  margin-left: 0px;
}

.our__text {
  color: #f2f2f2;
  text-align: center;
  margin-top: 10px;
}

/* nav class="access部分 */

.access {
  padding: 200px 0;
}

.access__inner {
  display: flex;
  justify-content: center;
}

.access__inner li {
  width: 185px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  transition: .3s;
  text-align: center;
}

.access__inner a {
  color: #74cfae;
  display: block;
}

.access__inner li:hover {
  background-color: #fff;
}

/* footer class="footer"部分 */

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer__inner {
  text-align: end;
}

.footer__text {
  color: #fff;
}

/* レスポンシブ対応部分 */

@media screen and (max-width:767px) {
  .header__button {
    display: none;
  }
  .hamburgerMenu {
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .hamburgerMenu span {
    width: 30px;
    height: 1px;
    background: #666;
    display: block;
    margin-top: 8px;
  }

  .hamburgerMenu span:first-child {
    margin-top: 0;
  }

  .boltTheme {
    padding: 160px 0 130px;
  }

  .sub__text {
    width: 100%;
    font-size: 25px;
  }

  .access {
    padding: 50px 0;
  }


  .access__inner {
    display: block;
  }


  .access__inner li {
    width: 100%;
  }

}

/* タブレット要素部分 */
@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
    text-align: center;
  }
  .WhatWeCanDo {
    padding: 50px 0;
  }

  .WhatWeCanDo__text {
    margin: 0;
    margin-top: 10px;
  }

  .img__box {
    text-align: center;
    display: block;
  }

  .img__box li {
    margin-left: 0;
  }

  .img__box li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .img__box li:first-child {
    margin-top: 0;
  }

  .olw__e-mail {
    display: block;
  }

  .olw__content__text {
    width: 100%;
  }

  .olw__button__link {
    margin-left: 0;
  }

  .olw__button {
    margin-top: 25px;
  }

  .ourSkills__contents {
    text-align: center;
    flex-direction: column;
  }

  .ourSkills figure {
    margin: 88px 0 0 0;
  }

  .our__text {
    margin-top: 30px;
  }

  .ourSkills figure:first-child {
    margin-top: 0;
  }

  .footer__text {
    text-align: end;
  }
}